body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav-link {
  margin-left: 40px;
}


/* Footer */
.footer-link {
  text-decoration: none;
  line-height: 2;
  color: #444444; /* Zerodha-like blue */
}

.footer-link:hover {
  color: #387ed1;
}


.footer-bottom-links {
  font-size: 13px;
  color: #9b9b9b;
}

.footer-bottom-links a {
  color: #9b9b9b;
  text-decoration: none;
  margin: 0 13px;
  white-space: nowrap;
}

.footer-bottom-links a:hover {
  color: #387ed1;
}


/* Support */

/* Hero Background */
#supportHero {
  background-color: rgb(56, 126, 209);
  color: #fff;
}

/* Inner width control (Zerodha-like) */
.support-inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 20px 60px;
}

/* Top row */
.support-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.support-top h4 {
  font-size: 20px;
  font-weight: 600;
}

/* Track ticket */
.track-link {
  font-size: 14px;
  text-decoration: underline;
  color: #fff;
}

/* Main titles */
.hero-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  max-width: 520px;
}

/* Search input */
.hero-input {
  width: 88%;
  padding: 16px 18px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

/* Quick links */
.hero-links {
  margin-top: 10px;
}

.hero-links a {
  font-size: 13px;
  margin-right: 14px;
  color: #fff;
}

/* Featured */
.featured-title {
  font-size: 22px;
  font-weight: 500;
}

.featured-list {
  padding-left: 18px;
}

.featured-list li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
}
.featured-list li a{
  line-height: 2.5;
  color: #fff;
}
